/* Background Colors
red: rgb(185, 107, 107)
orange: rgb(189, 144, 86)
yellow: rgb(198, 201, 61)
green: rgb(107, 185, 107)
blue: rgb(61, 168, 201)
purple:  rgb(154, 106, 177)
white
black */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: white;
}

#room-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#main-container {
    flex-grow: 1;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.door-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#door-one,
#door-two,
#door-three {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    height: 600px;
    width: 400px;
    background-position: center;
    background-image: url('images/door.png');
    background-repeat: no-repeat;
}

dialog {
    padding: 0;
}

dialog::backdrop {
    background-color: black;
}

#death-dialog-container,
#win-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}